@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Clash Display';
	src: url('/fonts/clash-display/ClashDisplay-Variable.ttf');
}

* {
	box-sizing: border-box;
}
